# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Distribution / packaging
*.egg-info/
dist/
build/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# uv / lock artifacts
.uv/
*.lock

# Environment variables
.env
